@(args: Map[String, String])

@main("Title", args){


    <div class="col-md-4 col-sm-5 col-md-offset-4 col-sm-offset-3 main">
         <h2>Voting system</h2>
         <p>Demo for a dummy bingo voting system</p>

        @if(args != null) {
            @if(args.get("eligible").equals("true")) {
                <a href="@routes.Authorized.votingDashboard()" class="btn btn-primary">Vote</a>
            } else {
                @if(args.get("eligible").equals("VOTED")) {
                    <p><strong>
                        ATI VOTAT! Verificati in aplicatie.</strong></p> <a href="@routes.Authorized.votingDashboard()" class="btn btn-primary" disabled="disabled">
                        Aplicatie</a>

                } else {
                    @if(args.get("eligible").equals("REJECTED")) {
                        <p>Access nepermis</p>

                    }
                }
            }
        }
    </div>

}
