@(args: Map[String, String], els: List[Election])

@main("Title", args){

    <div role="tabpanel">

            <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#open" aria-controls="open" role="tab" data-toggle="tab">Open Elections</a></li>
            <li role="presentation"><a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">Closed Elections</a></li>
            <li role="presentation"><a href="#votes" aria-controls="votes" role="tab" data-toggle="tab">Your Votes</a></li>
        </ul>

            <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="open">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 main">
<!--                    <h3 align="center">Cereri</h3> -->
                    @els.map { e =>
                        <h3>@e.getName</h3>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>Candidate</td>
                                    <td>Party</td>
                                    <td>Vote</td>
                                </tr>
                            </thead>

                            <tbody id="open">
                                <script type="text/javascript" src="@routes.Assets.at("../../public/javascripts/voting-api-calls.js")"></script>
                                @Candidate.find.findList().map { c =>
                                    @*LIST CANDIDATES*@
                                    <tr>
                                        <td>@c.getName()</td>
                                        <td>@c.getParty().getName()</td>
                                        <td>Action</td>
                                    </tr>

                                }

                            </tbody>

                        </table>
                    }
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="closed">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 main">
<!--                    <h3 align="center">Useri</h3> -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Candidate</td>
                                <td>Party</td>
                                <td>Election</td>
                                <td>Percentage</td>
                            </tr>
                        </thead>

                        <tbody id="closed">
                        </tbody>

                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="votes">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 main">
                        <!--                    <h3 align="center">Useri</h3> -->

                    <div><h4>Here comes a search box.</h4></div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>UUID</td>
                                <td>Election</td>
                                <td>Choice</td>
                            </tr>
                        </thead>

                        <tbody id="choices">
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>






}
