@(args: Map[String, String])

@main("Title", args){


    <div class="col-md-4 col-md-offset-4 main">
         <h2>Înregistrare user iThenticate</h2>
         <p>Pentru a putea vedea continutul va rugam sa va logati folosind contul e-UVT.</p>
         <a href="@routes.Authorized.display()" class="btn btn-primary">Login</a>
    </div>

}
