@(brand: String, admin: Boolean, auth: Any)
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@brand</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @if(admin == true){
                    @*<li><a href="@routes.FAQ.protectedDisplay()">@glyphicon.render("question-sign") FAQ</a></li>*@
                    <li><a href="@routes.Authorized.votingDashboard()">@glyphicon.render("ok") Dashboard</a></li>
                }

                @if(auth != null && auth.equals("true")) {
                    <li><a href="@routes.Authorized.display()">@glyphicon.render("home") Index</a></li>
                    <li><a href="/logout">@glyphicon.render("log-out") Logout</a> </li>
                }else{
                    <li><a href="@routes.Application.index()">@glyphicon.render("home") Index</a></li>
                }
            </ul>

        </div>
    </div>
</nav>
